
@link-color: #58f;

.hidden {
	display: none !important;
}

* {
	-webkit-touch-callout: none !important;
}

body {
	-webkit-tap-highlight-color: transparent;
	padding:0;
	margin:auto;
	background: white;
	overflow: hidden;
}

a {
	color: @link-color;
	&:visited {
		color: desaturate(@link-color, 40%);
	}
}

.github-fork-ribbon {
	background-color: black;
	a {
		color: white;
	}
}

@keyframes dots {
	0% { content: '.'}
	33% { content: '.'}
	34% { content: '..'}
	66% { content: '..'}
	67% { content: '..'}
	100% { content: '...'}
}


.spinner:before {
	content: '...';
	animation-name: dots;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	font-size: 2em;
	font-weight: bold;
	color: #aaa;
}




#ui {
	padding: 0 5vw;
	position: relative;
	max-width: 500px;
	margin: auto;
	margin-top: 20vh;
	font-family: sans-serif;
	font-weight: 100;
	text-align: center;

	h1, h2 {
	}

	h2 {
		font-size: 1.6em;
		font-weight: 500;
		margin: 0;
	}

	h1 {
		font-size: 2em;
	}

	p {
		text-align: center;
	}

	&.loading .controls {
		display: none;
	}

	&:not(.loading) .spinner {
		display: none;
	}


	form {
		display: block;
		text-align: center;
		input[type=submit] {
			border: none;
			font: inherit;
			background: transparent;
			text-decoration: underline;
			color: @link-color;
			cursor: pointer;
		}
	}

	button {
		display: block;
		max-width: 300px;
		width: 100%;
		margin: auto;
		font: inherit;
		font-weight: bold;
		border: none;
		padding: 1em 2em;
		background: black;
		color: white;
		border-radius: .5em;
		cursor: pointer;
		&:focus, &:active {
			outline: none;
		}
		&:active {
			text-shadow: none;
		}
	}
}

footer {
	max-width: 500px;
	margin: auto;
	margin-top: 2em;
	padding: 0 5vw;
	font-family: sans-serif;
	font-weight: 100;
	text-align: center;
}

@media screen and (max-height: 400px) {
	#ui {
		margin-top: 5vh;
	}
}

